<html>
<body>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login" class="btn float-right login_btn">
</form>
<p method="post" action="/display">Hello World</p>
</body>
</html>