<html>
<body>
<h1>Photos in Hanover Photo Archive</h1>
  <table>
  {{#with photoArchive}}
  {{#each photoList}}
    <tr>
      <td>image_archive/{{imageFilename}}</td>
      <td>
          <img src="image_archive/{{imageFilename}}">
      </td>
      <td>{{title}}</td>
      <td>{{location}}</td>
    </tr>
  {{/each}}
  {{/with}}
  </table>
</body>
</html>