<html>
<body>
  <table>
  {{#with photoArchive}}
  {{#each photos}}
    <tr>
      <td>
          <img src="{{imgURL}}">
      </td>
      <td>{{title}}</td>
      <td>{{location}}</td>
    </tr>
  {{/each}}
  {{/with}}
  </table>
</body>
</html>