<html>
<head>
    <link rel="stylesheet" href="CSS/UploadPhoto.css">
</head>
<body>
<form method="post" action="/upload">
    <input type="text" name="inputPhotoSource" placeholder="Input Photo Source">
    <input type="submit" value="Upload" class="btn float-right login_btn">
</form>
</body>
</html>